.header {
  padding: 2rem 0;
  margin-bottom: 5rem;
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    nav {
      gap: 2rem;
      display: flex;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 2.5rem;
        transition: .5s all;
        &:hover {
          color: #7a4fff;
        }
      }
    }
  }
}