.header {
  padding: 2rem 0;
  margin-bottom: 5rem;
  background: rgba(122, 79, 255, .2);
  &-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      span {
        font-weight: 600;
      }
      img {
        width: 4rem;
        margin-right: 1rem;
      }
    }
    nav {
      gap: 2rem;
      display: flex;
      a {
        color: #fff;
        text-decoration: none;
        font-size: 2.5rem;
        transition: .5s all;
        &:hover {
          color: #7a4fff;
        }
      }
    }
    .user {
      span {
        margin-right: 1rem;
      }
    }
  }
}