.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    display: flex;
    align-items: center;
    img {
      width: 8rem;
      height: 8rem;
      margin-right: 1rem;
    }
    p {
      font-size: 2.4rem;
      font-weight: 800;
      color: #fff;
      span {
        color: #6c63ff;
      }
    }
  }
}