.todo-wrap {
  background: #18181C;
  border-radius: 2.4rem;
  padding: 4rem;
  position: relative;

  h3 {
    margin-bottom: 3.2rem;
    font-size: 32px;
    font-weight: 600;
    text-align: center;
  }
}

.tasks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: .1rem solid #4B5563;
  padding: .8rem 0;
  margin: 2.8rem 0;

  &__total,
  &__complied {
    display: flex;
    align-items: center;

    p {
      margin-right: 1rem;
      font-size: 1.4rem;
    }
  }
}

.add-task-button {
  position: absolute;
  right: 3rem;
  bottom: 1rem;
}