@use './reset.scss';
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;800&display=swap');

body {
  font-family: 'Nunito Sans', sans-serif;
  background: #121215;
  color: #fff;
  font-size: 1.6rem;
}

.main-container {
  padding: 0rem 1.6rem;
  margin: 0 auto;
  max-width: 116rem;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}